@tailwind base;
@tailwind components;
@tailwind utilities;

body[theme="normal"]{
  background-color: #feeeee;
}

body[theme="yellow"]{
  background-color: #FDE68A;
}
body[theme="violet"]{
  background-color: #bfb4f2;
}

body{
  transition: background-color ease-out .5s;
}
/* .line{
  text-shadow: 1px 1px 10px #000;
} */



button {
  --color: #50265a;
  display: inline-block;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 400px;
  width: 500px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -60px;
  left: -60px;
}

button:active:before {
  background: #50265a;
  transition: background 0s;
}

::-webkit-scrollbar,.news-inner-section::-webkit-scrollbar {
  display: none;
  /* color: #514d4d; */
}

.img {
  filter: drop-shadow(0px 3px 10px #22222272);
  transition: filter ease-out .5s;
}

.img:hover {
  filter: drop-shadow(0px 15px 10px #22222272);
  transition: filter ease-out .5s;
}

.image1 {
  filter: drop-shadow(0px 20px 20px #22222272);
}
.image2 {
  filter: drop-shadow(20px 10px 20px #22222272);
}

.products{
    font-family: 'Bright Melody Personal Use Only';
}


.news:hover{
  margin-top:-1.5rem;
}


